
{% extends 'pages/base.html' %}
{% load static %}

{% block title %}My Blogs{% endblock %}

{% block main %}
		<section class="section-blogs">
			<div class="container">
	          <h1 class="heading-primary margin-unset">My Recent blogs &DownArrow;</h1>
	        </div>
	        <div class="container">
	        	<div class="blogs">
	        		<div class="blog-card">
	        			<div class="blog-card-text">
	        				<div class="blog-text-info">
	        					<h4 class="blog-title">Web Servers</h4>
	        					<p class="blog-subtitle">Web servers are programs that provide documents to requesting browsers identified using URLs. Servers are slave Programs.</p>
	        					<span class="blog-date">1 March 2022</span>
	        				</div>
	        				<div class="blog-link-info">
	        					<a href="blog-detail.html" class="blog-link">>Read more about this blog. &nearr;</a>
	        				</div>
	        			</div>
	        			<div class="blog-card-img">
	        				<img src="{% static 'Images/forest.jpg' %}" alt="" class="blog-card-img">
	        			</div>
	        		</div>
	        		<div class="blog-card">
	        			<div class="blog-card-text">
	        				<div class="blog-text-info">
	        					<h4 class="blog-title">Computational Simulation</h4>
	        					<p class="blog-subtitle">A computational simulation is a dynamic, process-oriented model instantiated on a computer. These can range from traditional economic models (expressed as equations) to more abstract constructs and processes.</p>
	        					<span class="blog-date">1 March 2022</span>
	        				</div>
	        				<div class="blog-link-info">
	        					<a href="simulation.html" class="blog-link">>Read more about this blog. &nearr;</a>
	        				</div>
	        			</div>
	        			<div class="blog-card-img">
	        				<img src="{% static 'Images/tiger2.jpg' %}" alt="" class="blog-card-img">
	        			</div>
	        		</div>
	        		<div class="blog-card">
	        			<div class="blog-card-text">
	        				<div class="blog-text-info">
	        					<h4 class="blog-title">Lorem Ipsum</h4>
	        					<p class="blog-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Feugiat in fermentum posuere urna nec tincidunt praesent semper.</p>
	        					<span class="blog-date">1 March 2022</span>
	        				</div>
	        				<div class="blog-link-info">
	        					<a href="lorem-ipsum.html" class="blog-link">>Read more about this blog. &nearr;</a>
	        				</div>
	        			</div>
	        			<div class="blog-card-img">
	        				<img src="{% static 'Images/forest3.jpg' %}" alt="" class="blog-card-img">
	        			</div>
	        		</div>
	        	</div>
	        </div>
		</section>
	{% endblock %}