{% extends 'pages/base.html' %}
{% block title %}Contact Us{% endblock %}
{% block main %}
		<section class="contact">
			<div class="contact-container">
				<div class="title">
					<h3 class="nav-logo">Contact Us</h3>
				</div>
			</div>

			<div class="contact-container">
				<div class="name">
					<label class="blog-title">Full Name</label>
					<br>
					<input type="text">
				</div>
			</div>

			<div class="contact-container">
				<div class="email">
					<label class="blog-title">Email</label>
					<br>
					<input type="text">
				</div>
			</div>

			<div class="contact-container">
				<div class="message">
					<label class="blog-title">Message</label>
					<br>
					<input type="text" id="area" name=""><br><br><br>
					<button id="sendMessage">Send Message</button>
				</div>
			</div>
		</section>
	{% endblock %}