
{% extends 'pages/base.html' %}
{% load static %}

{% block title %}My portfolio{% endblock %}
{% block main %}
		<section class="hero">
			<div class="container">
				<div class="flex-row">
					<div class="column">
						<h1 class="heading-primary">
			                Hi, I am Kamal, a student to be a fullstack developer
			              </h1>
			              <p class="paragraph-primary">
			                I am currently learning Django and Python to be a fullstack python developer. I want to master the technique to make unique and fully responsive personal and business websites using python, django, html, css andjavascript,react.
			              </p>
			              <p class="paragraph-primary">
			                As a programming student, I love learning new technologies and involving myself in solving different problems using programming. I am doing everything that i can do to make my career in programming.
			              </p>
					</div>
					<div class="column">
						<img
			                src="{% static 'Images/kamallc.jpeg' %}"
			                alt=""
			                class="img-responsive"
			              />
					</div>
				</div>
			</div>
		</section>
		<section class="skill">
			<div class="container">
				<div class="flex-row">
					<div class="column">
						<h4 class="paragraph-secondary">Main Skills</h3>
					</div>
					<div class="column">
						<p class="paragraph-secondary">
							HTML, CSS,Bootstrap, Javascript, jQuery, Git, Github, Python, Django, Django REST, React, Nodejs, Postgres, MongoDb, Docker
			              </p>
					</div>
				</div>
				<div class="flex-row">
					<div class="column">
						<h4 class="paragraph-secondary">Main Softwares</h3>
					</div>
					<div class="column">
						<p class="paragraph-secondary">
			                VsCode, Chrome, Firefox, Linux, Fedora, Postman, etc
			              </p>
					</div>
				</div>
			</div>
		</section>
		<section class="hr">
			<div class="container">
				<hr class="line">
			</div>
		</section>
		<section class="contact">
			<div class="container">
				<div class="flex-row">
					<div class="column">
						<h2 class="heading-secondary">
			                I am thrilled to answer to your queries &rarr;
			              </h2>
					</div>
					<div class="column">
						<a href="mailto:klamichhane08@gmail.com" class="heading-secondary">klamichhane08@gmail.com</a>
					</div>
				</div>
			</div>
		</section>
{% endblock %}